<app-navbar></app-navbar>
<main role="main">
  <header class="jumbotron jumbotron-fluid bg-warning mt-4 mb-0">
    <div class="container">
      <div class=row>
        <div class="col-12">
          <h1 class="display-4" id="welcome-to-the-space-coast-tech-club">Welcome to the Space Coast Tech Club</h1>
          <p class="lead">We are a free and public Slack for the Space Coast tech and creative community.</p>
        </div>
      </div>
    </div>
  </header>
  <app-upcoming-events></app-upcoming-events>
</main>
