<app-navbar></app-navbar>
<main role="main">
  <header class="jumbotron jumbotron-fluid bg-primary mt-0 pt-0 mb-0 pb-0">
    <div class="container">
      <div class=row>
        <div class="col-12">
          <h1 class="display-4" id="welcome">Welcome!</h1>
          <p class="lead">The Space Coast Tech Club is dedicated to the tech and creative community of Brevard County, FL.</p>
        </div>
      </div>
    </div>
  </header>
  <app-upcoming-events></app-upcoming-events>
  <app-footer></app-footer>
</main>
