<section id="upcoming-events">
  <div class="container">
    <div class="row pt-4">
      <div class="col-12">
        <h2 id="events">Upcoming Events</h2>
      </div>
    </div>
    <div id="event-highlight" class="row d-flex flex-wrap pb-4">
      <div *ngFor="let event of events.slice(0, 4)" class="col-xs-6 col-lg-3 mb-2 d-flex align-items-stretch">
        <div class="card border-primary flex-grow flex-fill">
          <div class="card-header">
            <a href="{{ event.event_url }}">
              <h2 class="card-title small font-weight-bold text-uppercase">{{ event.name }}</h2>
            </a>
          </div>
          <div class="card-body">
            <img *ngIf="event.photo_url; else useGroupPhoto" class="card-img" src="{{ event.photo_url }}" alt="{{ event.name }}">
            <ng-template #useGroupPhoto>
              <img *ngIf="event.group.group_photo.photo_link" class="card-img" src="{{ event.group.group_photo.photo_link }}" alt="{{ event.name }}">
            </ng-template>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <i class="fas fa-chevron-circle-right text-warning"></i> {{ event.group.name }}</li>
              <li class="list-group-item">
                <i class="fas fa-compass text-warning"></i> {{ event.venue ? event.venue.name : 'n/a' }}</li>
              <li class="list-group-item">
                <i class="fas fa-calendar-alt text-warning"></i> {{ event.time ? ( event.time | date:'EEE MMM d' ) : 'n/a' }}</li>
              <li class="list-group-item">
                <i class="fas fa-clock text-warning"></i> {{ event.time| date:'h:mm aa' }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <a *ngIf="routerURL === '/'" routerLink="/events">
    <button class="btn btn-primary mb-4" type="button">
        <i class="fas fa-plus"></i> More Events
    </button>
    </a>
    <div *ngIf="routerURL === '/events'" id="eventtable" class="table-responsive">
      <table class="table table-striped mb-0">
        <thead class="thead-light">
          <tr>
            <th scope="col">Name</th>
            <th class="d-none d-sm-table-cell" scope="col">Group</th>
            <th class="d-none d-sm-table-cell" scope="col">Venue</th>
            <th scope="col">Date</th>
            <th class="d-none d-sm-table-cell" scope="col">Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of events.slice(5)">
            <th scope="row">
              <a class="text-danger" href="{{ event.event_url }}">
                <h2 class="card-title small font-weight-bold text-uppercase">{{ event.name }}</h2>
              </a>
            </th>
            <td class="d-none d-sm-table-cell">
              {{ event.group.name }}</td>
            <td class="d-none d-sm-table-cell">
              {{ event.venue ? event.venue.name : 'n/a' }}</td>
            <td>
              {{ event.time ? ( event.time | date:'EEE MMM d' ) : 'n/a' }}</td>
            <td class="d-none d-sm-table-cell">
              {{ event.time| date:'h:mm aa' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
