@import "_variables.scss";

body {
  background-color: $warning !important;
}
main {
  margin-top: 56px;
}
#upcoming-events {
    background-image: url('/assets/img/seigaiha.png');
    background-repeat: repeat;
    background-color: $primary;
}

#welcome, .jumbotron p {
}

.jumbotron {
    background-color: $primary;
}

footer {
  background-color: white;
}

@media only screen and (max-width: 480px) {
  .display-4  {
         font-size: 1.5em !important;
     }
}
