@import "_variables.scss";

body {
  background-color: $warning !important;
}

.navbar-brand {
  margin-right: 0;
}

.navbar-brand > img, main {
	transition: .25s all;
	-moz-transition: .25s all;
	-webkit-transition: .25s all;
	-o-transition: .25s all;  
}

#welcome, .jumbotron p {
  text-align: right;
}

.jumbotron {
    background-color: $primary;
}

#upcoming-events {
  background-image: url('/assets/img/seigaiha.png');
  background-repeat: repeat;
  background-color: $primary;
}

footer {
  background-color: white;
}

@media only screen and (max-width: 480px) {
  .display-4  {
         font-size: 1.5em !important;
     }
}

