@import "_variables.scss";

body {
  background-color: $warning !important;
}

#upcoming-events {
    background-image: url('/assets/img/seigaiha.png');
    background-repeat: repeat;
    background-color: $primary;
}

#welcome-to-the-space-coast-tech-club, .jumbotron p {
    color: white;
}

.jumbotron {
    background-color: $primary;
}

footer {
  background-color: white;
}

@media only screen and (max-width: 480px) {
  .display-4  {
         font-size: 1.5em !important;
     }
}
